<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "author" content="Ryan Tian">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content="This will serve as a personal website for Ryan Tian">
    <meta name ="keywords" content="Carnegie Mellon University Information Systems">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script><!-- the other jquery was causing issues -->
    <!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR1Q_s_QYdhIz71epEDYQMrLFARoKsqJk&callback=initMap"></script> -->
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ryan's Little Space</title>
</head>
<body>
    <header>
        <h1 id="webName">
            Ryan Tian
        </h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a href="CV.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i></a>
        </nav>
    </header>
    <div class="main">
        <h2>
            Curriculum Vitae
        </h2>
        <table>
            <tr>
                <th>Relevant Experience</th>
                <th>Relevant Skills</th>
            </tr>
            <tr>
                <td>3D Generalist</td>
                <td>Blender, Rhino, Maya, Substance Painter</td>
            </tr>
            <tr>
                <td>Residential Assistant</td>
                <td>Communication, teamwork, collaboration</td>
            </tr>
        </table>
        <a href="../static/my_resume.pdf" target="_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p>
            Ryan Tian &copy; 2024
        </p>
    </footer>
</body>
</html>